@import 'utils';

.box {
  display:block;
  position: $rel;
  background:black;
  width: $size;
  height:$size;
  &:hover {
    background:blue;
  }

  .box-inside {
    background:red;
    width:50px;
    height:50px;
    @include place-at-center();
  }
}